
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Spring MVC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>        
        <div>
           
            <img src="https://media.licdn.com/dms/image/C4E03AQEKlxyVeM8mRw/profile-displayphoto-shrink_200_200/0/1633724212582?e=1701907200&v=beta&t=M_uQx8961yan7LyxrGuHwhRNtSO1gxjTdETOYvzkN54"style="width:150px; height:190px ; border-radius: 20px" />       
            
            <h1 th:text="${nome}"></h1>    
                      
            <p th:text = "${nome}">nome</p>    
            <p th:text = "${numero}">nome</p>    
            <p th:text = "${email}">nome</p>    
            <p th:text = "${nasc}">nome</p>    
            <p th:text = "${linkedin}">nome</p>
            <p th:text = "${github}">nome</p>  
        </div>
        

    </body>
</html>